<a href="https://colab.research.google.com/github/alexeh/python-practices/blob/foundational%2Flevel1/Foundational/Level_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Foundational Python programming skills: Level 1

## Level 1 Exercises are meant for you to practice very basic python concepts such as:
        1. Working with different data structures
        2. Loops
        3. Conditional statements
        
### These concepts are critical and are your understanding of the topic is taken for granted for any employer in your field.


## Instructions:
      1. Implement the code required to complete the task.
      2. The use of any code assistant or LLM is forbidden. Use of the web to research is allowed. But keep in mind: copy-pasting completed solutions is backfiring on yourself
      3. Run all code cells with the expected output for the notebook to represent all outputs
      4. Deliver your solution following the repository's guideline for contributions

## 1) Working with numbers
Write a Python program that performs the following mathematical operations on two given numbers:

Subtract the second number from the first.

Raise the result to the power of the first number.

Multiply the result by 12.5.

Take the absolute value of the result and divide it by 12.22.

Round the final result to 2 decimal places.

Find the floor value of the rounded result.

In [7]:
from decimal import Decimal


num_1 = 5
num_2 = 10.5


#substract the second number from the first
sub = num_1 - num_2
sub
#raise the result to the power of the first number
powered = pow(sub,num_1)
powered
#multiply
multi = powered*12.5
multi
#Take the absolute value of the result and divide it by 12.22
abs_value = abs(multi)
abs_value
#Divide it by 12.22
divided_value = abs_value/12.22
#round the result to 2
rounded_value = round(divided_value,2)
floated = float(rounded_value)
#float
print("Here the type value of the number", floated ,type(floated))

Here the type value of the number 5148.16 <class 'float'>

## 2) Working with lists
You have 2 lists:

<li>list_1 = ["a", "b", "c"]

<li>list_2 = [1, 2, 3, 3, 4]
<br><br>

Print the first element of the list list_1 list.

Print the third element starting from the right of list_2
    
Print the number that has the maximum value in list_2
    
Create a list called list_cat that is the concatenation of the two lists.
    
Add to a new element to list_cat whose value is 12.5

Print the length of list_cat   

Replace item number 3 of list_cat with the value "x".
    
Remove the item with index 2 from list_cat
    
Create a new variable named list_1_sorted with the sorted version of list_1

In [21]:
import numpy as np

list_1 = ["a", "b", "c"]
list_2 = [1, 2, 3, 3, 4]

#Print the first element of the list list_1 list.
print(list_1[0])
#Print the third element starting from the right of list_2
print(list_2[-2])
#Print the number that has the maximum value in list_2
print(max(list_2))
#Create a list called list_cat that is the concatenation of the two lists.
list_cat = list_1 + list_2
print(list_cat)
#Add to a new element to list_cat whose value is 12.5
list_cat.append(int(12.5))
print(list_cat)
#Print the length of list_cat
print(len(list_cat))
#Replace item number 3 of list_cat with the value "x".
list_replace = list_cat.copy()
list_replace[2] = "x"
print(list_replace)
#Remove the item with index 2 from list_cat
list_cat_remove = list_replace.copy()
list_cat_remove.pop(2)
print(list_cat_remove)
#Create a new variable named list_1_sorted with the sorted version of list_1
list_1_sorted = sorted(list_1)
print(list_1_sorted)

a
3
4
['a', 'b', 'c', 1, 2, 3, 3, 4]
['a', 'b', 'c', 1, 2, 3, 3, 4, 12]
9
['a', 'b', 'x', 1, 2, 3, 3, 4, 12]
['a', 'b', 1, 2, 3, 3, 4, 12]
['a', 'b', 'c']

## 3) Working with tuples

Try to do all the above steps but using tuples, some of them might fail.
 Handle any potential exception thrown, and print the error with, with a custom text briefly explaining why this happens and what is the utility of this behavior

In [27]:
tuple_1 = ("a", "b", "c")
tuple_2 = (1, 2, 3, 3, 4)

In [45]:
new = (12.5,)
tuple_new = tuple_cat + new
tuple_new

('a', 'b', 'c', 1, 2, 3, 3, 4, 12.5)

In [50]:
#Print the first element of the list list_1 list.
print(tuple_1[0])
# #Print the third element starting from the right of list_2
print(tuple_2[-2])
# #Print the number that has the maximum value in list_2
print(max(tuple_2))
# #Create a list called list_cat that is the concatenation of the two lists.
tuple_cat = tuple_1 + tuple_2
print(tuple_cat)

# #Add to a new element to list_cat whose value is 12.5
new = (12.5,)
tuple_new = tuple_cat + new
tuple_new

#Print the length of list_cat
print(len(tuple_cat))

#Replace item number 3 of list_cat with the value "x".
tuple_replace = tuple(tuple_cat)

try:
  tuple_replace[2] = "x"
  print(tuple_replace)
except Exception as e:
  print(e)

#Remove the item with index 2 from list_cat
list_replace = list(tuple_replace)
list_replace.pop(2)
final_tuple = tuple(list_replace)
final_tuple

#Create a new variable named list_1_sorted with the sorted version of list_1
list_replace2 = list(final_tuple)

try:
  list_sorted = sorted(list_replace2)
except Exception as e:
  print(e)

a
3
4
('a', 'b', 'c', 1, 2, 3, 3, 4)
8
'tuple' object does not support item assignment
'<' not supported between instances of 'int' and 'str'

In [28]:

lista = [1, 2]


try:
  lista[3]
except Exception as e:
  print("The error has been", e)

The error has been list index out of range

## 4) Working with dictionaries
Create an empty dictionary and fill it with this data (key-value pairs):

<li> "58195348N": "Pepito Pérez".
<li> "96173220P": "Juanito Martínez".
<li> "43740289Q": "Adolfo Rodríguez".
<li> "41588605M": "Roberto García".
<br><br>
    
Query the dictionary, what is the name of the person with ID "96173220P"?

Change the name associated with the key "41588605M" to "Roberto Martinez".

Delete the entry corresponding to the key "96173220P".
    
Print the length of the dictionary

Print whether or not the key "99114051J" is in the dictionary (True or False)

Print the dictionary keys

Print the dictionary values

Make a copy of the dictionary in a new variable thats allows you to modify the values in this new variable while the values in the original stay the same. Prove this by showcasing both

## 5) Working with sets
Create a list with the following values
<li>[1,2,2,2,3,2,3,5,1]
<br><br>

Convert this list to another list that does not contain repeated elements.

Create the following two sets:
<li>set_1 = {1,2,3,3,4,5}
<li>set_2 = {3,4,5,5,6,7}
<br><br>
    
Check if element 10 is in set_1.

Are they disjoint sets?

Is set_1 a subset of set_2?
    
Calculate the elements that are in set_1 but not in set_2.
    
Calculate the elements common to both sets

## 6) Working with for and while.

We have the following lists:
<li>char_list = ["a", "b", "c", "d"]
<li>num_list = [1, 2, 3, 3, 4]
<br><br>

Perform a for loop that goes through num_list and prints its values and also the character that is in the same position in char_list.
Handle any potential exception so that the program does not finish with an error

In [ ]:
char_list = ["a", "b", "c", "d"]
num_list = [1, 2, 3, 3, 4]

## 7) Working with for and while.
Given a matrix (a list of lists) matrix where each sub-list represents a row of the matrix, write a script that transposes the matrix (converts rows to columns and vice versa) using nested for-loops. Additionally, use an if-statement to replace any negative number with 0 in the transposed matrix. Print the transposed matrix.

In [ ]:
input_matrix = [
    [1, -2, 3],
    [-4, 5, -6],
    [7, -8, 9]
]

expected_output = [
    [1, 0, 7],
    [0, 5, 0],
    [3, 0, 9]
]